181216

In [1]:
from bs4 import BeautifulSoup
import urllib.request as req
import sys
import io

주식 관련 내용 스크래핑

In [2]:
url = "http://finance.naver.com/sise/"
res = req.urlopen(url).read()
soup = BeautifulSoup(res, "html.parser")

top = soup.select("#siselist_tab_0 > tr")
# print(top)

a 태그가 있다면

In [3]:
i = 1
for e in top:
    if e.find("a") is not None: # None이 아닌 경우만 출력
        print(i,e.select_one(".tltle").string,"=",e.select_one("td:nth-of-type(5)").string)
        i += 1

1 에스제이케이 = 4,490
2 옐로페이 = 83
3 판도라티비 = 1,160
4 영현무역 = 277